#layout_left
{
    position:absolute;
    left:8px;
    top:105px;
}
.modulemenu
{
    white-space:nowrap;
}

#layout_middle{
    /*position:absolute;
    left:10px;
    top:200px;*/
}

#layout_debug{
    /*position:absolute;
    left:0px;
    top:800px;*/
}

body
{
    font-size: x-small;
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana, Arial, arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #FDFDFD;
    /*background-image: url("/img/lodo/body_bg.gif");*/
}

legend
{
    font-weight:bold;
    font-size: small;
}

table
{
    font-size: x-small;
}

form { display: inline; }

a img {
  border:none;
}

table.lodo_data
{
	white-space: nowrap;
	/*border: 1px solid #AAAAAA;*/
	BACKGROUND-COLOR: #E1E1E1;
	border-spacing: 0px;
}
.lodo_data td
{
	padding: 3px 2px 3px 2px;
	/* BACKGROUND-COLOR: #F3F3F3; */
	white-space: nowrap;
	/*border: 1px solid #FFFFFF;*/
}

table.lodo_journal
{
    WHITE-SPACE: nowrap;
    BACKGROUND-COLOR: #E1E1E1;
    border-spacing: 0px;
}
table.lodo_journal td
{
    padding: 0px 1px 1px 1px;
}
table.lodo_data tr.r1 td
{
    background-color:#F3F3F3;
}
table.lodo_data tr.r0 td { background-color: #FC6; }

th
{
	font-size: x-small;
	padding: 0px 1px 1px 1px;
	border-right: 0px;
	font-weight: bold;
	color: #000;
	background-color: #FFB600;
	/*BACKGROUND-COLOR: #F3BA55;*/
	text-align: left;
	/*background-image: url("/img/lodo/th_bg.gif");*/
}

thead { BACKGROUND-COLOR: #FFDC9E; }
    
table.lodo_data tr.r1 td.sub {
    background-color:#FFDC9E;
}

select{
    font-size: xx-small;
}

.red select {
    font-size: xx-small;
    background: red;
}

/****************************************************/
/* Classes matching the different accountplans in colors*/
.result option {
    color: black;
}

.balance  option {
    background-color: red;
    color: black;
}

.employee  option {
    background-color: green;
    color: black;
}

.supplier  option {
    background-color: red;
    color: black;
}

.customer  option {
    background-color: green;
    color: black;
}
/****************************************************/

input
{
    font-size: xx-small;
    padding-right: 3px;
}

.tabletab
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
}

.login { BACKGROUND-COLOR: #999999; }

/*.voucher {
    FONT-SIZE: 9px;
    COLOR: #3366ff
}*/

.right
{
    CLEAR: right;
    FONT-SIZE: 9px;
    FLOAT: right;
    PADDING-BOTTOM: 5px;
    WIDTH: 100%;
    COLOR: #990000;
    BACKGROUND-COLOR: #cccccc;
    TEXT-ALIGN: right;
}

.user { BACKGROUND-COLOR: #cccccc; }
.debet { COLOR: #00AA00; }
.credit { COLOR: #CC0000; }
.warning { padding:3px;background-color: #AA0000; color:#FFFFFF}

.result
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
}

h1,h2,h3 { FONT-FAMILY: Arial, arial, Helvetica, sans-serif; }

h2
{
    font-size: small;
    COLOR: #4A6069;
}

h3
{
    font-size: x-small;
    border-bottom: 2px solid #E2E2E2;
    /*1px solid #677687; COLOR: #990000;*/
    COLOR: #666666;
    font-weight: bold;
}

h4
{
    font-size: x-small;
    COLOR: #993300;
}

.grey { BACKGROUND-COLOR: #FFFFFF; }

td.creditred,td.debitred, .group a.group_buy, table.lodo_data tr.r0 td.creditred, table.lodo_data tr.r1 td.creditred, table.lodo_data tr.r0 td.debitred, table.lodo_data tr.r1 td.debitred, input.debitred, fieldset a.group_buy
{
    background-color: #AD4037;
    color: #FFFFFF;
}

td.creditblue,td.debitblue, .group a.group_sale, table.lodo_data tr.r0 td.creditblue, table.lodo_data tr.r1 td.creditblue, table.lodo_data tr.r0 td.debitblue, table.lodo_data tr.r1 td.debitblue, fieldset a.group_sale, input.debitblue
{
    background-color: #617CB2;
    color: #FFFFFF;
}

td.menu,th.menu
{
    VERTICAL-ALIGN: top;
    TEXT-ALIGN: left;
    BACKGROUND-COLOR: #BBBBBB;
    color: #000000;
    font-weight: bold;
    padding-top: 2px;
}

td.menuright,th.menuright
{
    VERTICAL-ALIGN: top;
    TEXT-ALIGN: right;
    BACKGROUND-COLOR: #BBBBBB;
    color: #000000;
    font-weight: bold;
    padding-top: 2px;
}

td.submenu { BACKGROUND-COLOR: #EDEDED; }

td.horiz { border-right: 5px solid; }

th.sub
{
	font-size: x-small;
	font-weight: bold;
	color: #FFF;
	BACKGROUND-COLOR: #95979B;
	text-align: left;
	background-image: none;
}

.green {
    background-color: green;
    /*color: red;*/
}
.red {
    color: red;
}
select.redbackground {
    background-color: red;
    background: red;
}
th.salaryhead
{
    font-size: x-small;
    padding: 2px 10px 2px 10px;
    BORDER-RIGHT: 0px;
    FONT-WEIGHT: bold;
    color:#000000;
    BACKGROUND-COLOR: #FFB600;
    text-align: left;
}
th.empty
{
    WHITE-SPACE: normal;
    BACKGROUND-COLOR: #E1E1E1;
    border-spacing: 0px;
}

.voucher th,.voucher td { padding: 2px 2px 2px 2px; }
input.button { font-size: x-small; text-align: center; }
button { font-size: x-small; text-align: center; }
.number { text-align: right; }

.logo
{
    margin-bottom: 10px;
    /*float:left;*/
    margin-right: 10px;
}

/***************Splashscreen*************/
body.splash{
 text-align:center;
}
.splash h2{
 font-size: small;
 font-weight:bold;
 color:#000000;
}
/*body.splash th, body.splash td, body.splash table{
 background-color:transparent;
 border:none;
}*/
div.splash{
 text-align:left;
 /*height:300px;*/
 width:700px;
 margin-left:auto;
 margin-right:auto;
 margin-top:0px;
 /*background-image: url("/img/lodo/login_bg.jpg");*/
 background-repeat: no-repeat;
 background-color:#F0F2F4;
 border: 1px solid #000000;
 }
div.logintop{
 padding:5px;
 background-color:#FFB600;
}
div.splash_subtext{
 text-align:center;
 BACKGROUND-COLOR: #7D858E;
 color:#FFFFFF;
 padding:2px;
}
.splash_subtext a{
 color:#FFFFFF;
}
.splash p{
 padding:5px;
 }
table.splash{
 padding:5px;
}
table.splash td{
 vertical-align:top;
}
/***************Groups*************/
h2.groupheader
{
    /*display: inline;
    position: relative;
    top: 5px;
    left: 5px;*/
    padding: 0px 5px 0px 5px;
    background-color: #FDFDFD;
    /*background-image: url("/img/lodo/body_bg.gif");*/
}

.group a,a.button, fieldset a,a.button {
    display: block;
    background-color: #CCCCCC;
    text-decoration: none;
    padding: 1px 10px 1px 10px;
    margin: 1px;
    border-bottom: 1px solid #666666;
    border-right: 1px solid #666666;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    color: #000000;
}

.group a:hover {
  background-color: #EEEEEE;
    border-top: 1px solid #888888;
    border-left: 1px solid #888888;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #111;
}

table.group td { margin: 3px; }

/************ tabs *************/
table.tab{
 border-spacing: 1px;
 border-bottom: 1px solid #000000;
 font-weight:bold;
}

div.tab{
 padding: 3px 10px 3px 10px;
 border: 1px solid #000000;
 position:relative;
 top:3px;
 background-color:#FFB600;
}

div.active_tab{
 padding: 3px 10px 3px 10px;
 background-color:#BBBBBB;
 border: 1px solid #000000;
 border-bottom:none;
 position:relative;
 top:4px;
}

table.tab a{
 color:#000000;
 display:block;
 text-decoration:none;
}
table.tab a:hover{
 color:#FFFFFF;
}

#review td {
  text-align: right;
}

#review .tdleft {
    text-align: left;
}

#aarsoppgjoer_input input {
    text-align: right;
}

#aarsoppgjoer_input .left {
    text-align: left;
}

.topclass {
    background: #FF0000;
}

.menu-left-border{
   border-left: 1px solid #000000;
   background-color:#F3F3E3;
}

.menu-right-border{
   border-right: 1px solid #000000;
   background-color:#F3F3F3;
}

.lodoreqfelt {
   background-color: #E0F8E0;
   border: 1px solid #a9a9a9;
}
