#layout_left
{
    position:absolute;
    left:8px;
    top:105px;
}
.modulemenu
{
    white-space:nowrap;
}

#layout_middle{
    /*position:absolute;
    left:10px;
    top:200px;*/
}

#layout_debug{
    /*position:absolute;
    left:0px;
    top:800px;*/
}

body
{
	font-size: 9pt;
	margin: 0px 10pt 0px 5pt;
	font-family: "Times New Roman", Times, serif;
	BACKGROUND-COLOR: #FFFFFF;
	/*background-image: url("/img/lodo/body_bg.gif");*/
}
label
{
    font-weight:bold;
}
legend
{
    font-weight:bold;
}

table
{
    font-size: 9pt;
    empty-cells: show;
	width: 100%;
}

form { display: inline; }

a {
  border:none;
  text-decoration: none;
  color: #000000;
}

a img {
  border:none;
  text-decoration: none;
}

table.lodo_data
{
	/*border: 1px solid #AAAAAA;*/
	white-space: nowrap;
	border-spacing: 0px;
	border-collapse: collapse;
	empty-cells: show;
	border-spacing: 10px;
}
.lodo_data td
{
	padding: 1px 10px 1px 10px;
	background-color: #FFF;
	border-bottom: 0.5px #EEE solid;
	text-decoration: none;
	font-weight: normal;
}

#head td
{
	padding: 1px 10px 1px 10px;
	background-color: #FFF;
	text-decoration: none;
	font-weight: normal;
	border-bottom: 1pt #000 none;
}

table.lodo_journal
{
    white-space: nowrap;
    BACKGROUND-COLOR: #000000;
    border-spacing: 0px;
}
table.lodo_journal td
{
    padding: 1px 10px 1px 10px;
}
table.lodo_journal tr.BGColorLight
{
    background-color:#FFFFFF;
}
table.lodo_journal tr.BGColorDark
{
    background-color:#E1E1E1;
}

.number, th .number { text-align: right; }

th
{
	font-size: 11pt;
	padding: 1px 10px 1px 10px;
	border-right: 0px;
	font-weight: bold;
	/* color: #FFFFFF; */
	/* background-color: #000000; */
	/*BACKGROUND-COLOR: #F3BA55;*/
	text-align: left;
	/*background-image: url("/img/lodo/th_bg.gif");*/
}

td.sub {
    background-color:#FFDC9E;
}

select{
    font-size: 9pt;
}

.red select {
    font-size: 9pt;
    background: red;
}

input
{
    font-size: 9pt;
    padding-right: 3px;
}

.tabletab
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
}

.login { BACKGROUND-COLOR: #999999; }

/*.voucher {
    FONT-SIZE: 10px;
    COLOR: #3366ff
}*/

.right
{
    CLEAR: right;
    font-size: 9pt;
    FLOAT: right;
    PADDING-BOTTOM: 5px;
    WIDTH: 100%;
    COLOR: #990000;
    BACKGROUND-COLOR: #cccccc;
    TEXT-ALIGN: right;
}

.user { BACKGROUND-COLOR: #cccccc; }
.debet { COLOR: #00AA00; }
.credit { COLOR: #CC0000; }
.warning { padding:3px;background-color: #AA0000; color:#FFFFFF}

.result
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
}

h2
{
    font-size: 11pt;
    COLOR: #000000;
}

h3
{
    font-size: 11pt;
    border-bottom: 2px solid #000000;
    /*1px solid #677687; COLOR: #990000;*/
    color: #000000;
    font-weight: bold;
}

h4
{
    font-size: 11pt;
    COLOR: #000000;
}

.noprint {
    display: none;
}

.grey { BACKGROUND-COLOR: #FFFFFF; }

td.creditred,td.debitred, .group a.group_buy
{
    background-color: #AD4037;
    color: #FFFFFF;
}

td.creditblue,td.debitblue, .group a.group_sale
{
    background-color: #617CB2;
    color: #FFFFFF;
}

td.menu,th.menu
{
    VERTICAL-ALIGN: top;
    TEXT-ALIGN: left;
    BACKGROUND-COLOR: #BBBBBB;
    color: #000000;
    font-weight: bold;
    padding-top: 2px;
}

td.menuright,th.menuright
{
    VERTICAL-ALIGN: top;
    TEXT-ALIGN: right;
    BACKGROUND-COLOR: #BBBBBB;
    color: #000000;
    font-weight: bold;
    padding-top: 2px;
}

td.submenu { BACKGROUND-COLOR: #EDEDED; }

th.sub
{
    font-size: 10pt;
	font-weight: bold;
	color: #000000;
	background-color: #CCC;
	text-align: left;
}

.green {
    background-color: green;
    /*color: red;*/
}
.red {
    color: red;
}
select.redbackground {
    background-color: red;
    background: red;
}
th.empty
{
    WHITE-SPACE: normal;
    BACKGROUND-COLOR: #E1E1E1;
    border-spacing: 1px;
}

.voucher th,.voucher td { padding: 2px 2px 2px 2px; }
input.button {
    font-size: 9pt;
    text-align: center; }
button { font-size: x-small; text-align: center; }

.logo
{
    margin-bottom: 10px;
    /*float:left;*/
    margin-right: 10px;
}

/***************Splashscreen*************/
body.splash{
 text-align:center;
}
.splash h2{
 font-size: small;
 font-weight:bold;
 color:#000000;
}
/*body.splash th, body.splash td, body.splash table{
 background-color:transparent;
 border:none;
}*/
div.splash{
 text-align:left;
 /*height:300px;*/
 width:700px;
 margin-left:auto;
 margin-right:auto;
 margin-top:0px;
 /*background-image: url("/img/lodo/login_bg.jpg");*/
 background-repeat: no-repeat;
 background-color:#F0F2F4;
 border: 1px solid #000000;
 }
div.logintop{
 padding:5px;
 background-color:#FFB600;
}
div.splash_subtext{
 text-align:center;
 BACKGROUND-COLOR: #7D858E;
 color:#FFFFFF;
 padding:2px;
}
.splash_subtext a{
 color:#FFFFFF;
}
.splash p{
 padding:5px;
 }
table.splash{
 padding:5px;
}
table.splash td{
 vertical-align:top;
}
/***************Groups*************/
h2.groupheader
{
    /*display: inline;
    position: relative;
    top: 5px;
    left: 5px;*/
    padding: 0px 5px 0px 5px;
    background-color: #FDFDFD;
    /*background-image: url("/img/lodo/body_bg.gif");*/
}

.group
{
    border: 1px solid #AAAAAA;
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
}

.group a,a.button
{
    display: block;
    background-color: #CCCCCC;
    text-decoration: none;
    padding: 1px 10px 1px 10px;
    margin: 1px;
    border-bottom: 1px solid #666666;
    border-right: 1px solid #666666;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    color: #000000;
}

.group a:hover {
  background-color: #EEEEEE;
    border-top: 1px solid #888888;
    border-left: 1px solid #888888;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #111;
}

table.group td { margin: 3px; }

/************ tabs *************/
table.tab{
 border-spacing: 1px;
 border-bottom: 1px solid #000000;
 font-weight:bold;
}

div.tab{
 padding: 3px 10px 3px 10px;
 border: 1px solid #000000;
 position:relative;
 top:3px;
 background-color:#FFB600;
}

div.active_tab{
 padding: 3px 10px 3px 10px;
 background-color:#BBBBBB;
 border: 1px solid #000000;
 border-bottom:none;
 position:relative;
 top:4px;
}

table.tab a{
 color:#000000;
 display:block;
 text-decoration:none;
}
table.tab a:hover{
 color:#FFFFFF;
}

#review td {
  text-align: right;
}

#review .tdleft {
    text-align: left;
}

#aarsoppgjoer_input input {
    text-align: right;
}

#aarsoppgjoer_input .left {
    text-align: left;
}

